@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fd-background: 0 0% 100%;
  --fd-foreground: 222.2 47.4% 11.2%;
  --fd-muted: 210 40% 96.1%;
  --fd-muted-foreground: 215.4 16.3% 46.9%;
  --fd-card: 0 0% 100%;
  --fd-card-foreground: 222.2 47.4% 11.2%;
  --fd-popover: 0 0% 100%;
  --fd-popover-foreground: 222.2 47.4% 11.2%;
  --fd-border: 214.3 31.8% 91.4%;
  --fd-input: 214.3 31.8% 91.4%;
  --fd-primary: 222.2 47.4% 11.2%;
  --fd-primary-foreground: 210 40% 98%;
  --fd-secondary: 210 40% 96.1%;
  --fd-secondary-foreground: 222.2 47.4% 11.2%;
  --fd-accent: 210 40% 96.1%;
  --fd-accent-foreground: 222.2 47.4% 11.2%;
  --fd-destructive: 0 100% 50%;
  --fd-destructive-foreground: 210 40% 98%;
  --fd-ring: 215 20.2% 65.1%;
}

#nd-sidebar {
  --fd-muted-foreground: 0 0% 30%;
}

.dark {
  --fd-background: 0 0% 8.9%;
  --fd-foreground: 0 0% 92%;
  --fd-muted: 0 0% 12.9%;
  --fd-muted-foreground: 0 0% 60.9%;
  --fd-popover: 0 0% 9.8%;
  --fd-popover-foreground: 0 0% 88%;
  --fd-card: 0 0% 10%;
  --fd-card-foreground: 0 0% 98%;
  --fd-border: 0 0% 18%;
  --fd-primary: 0 0% 98%;
  --fd-primary-foreground: 0 0% 9%;
  --fd-secondary: 0 0% 12.9%;
  --fd-secondary-foreground: 0 0% 98%;
  --fd-accent: 0 0% 16.9%;
  --fd-accent-foreground: 0 0% 90%;
  --fd-ring: 0 0% 14.9%;
}

.dark #nd-sidebar {
  --fd-muted: 0deg 0% 16%;
}
