.answerContainer {
  display: grid;
  line-height: 1.8;
  @media (max-width: 768px) {
    grid-template-columns: auto !important;
  }
}

.answerContainer.right {
  grid-template-columns: 100px 1fr;
}

.answerContainer.left {
  grid-template-columns: 1fr 100px;
}

.answerContainer.center {
  grid-template-columns: auto;
  justify-items: center;
  text-align: center;
}

.container.right {
  grid-template-columns: 100px 1fr;
}
  


.answerContainer .profile {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--ifm-color-secondary-dark);
  margin-right: 1rem;

  @media (max-width: 768px) {
    margin: 0 auto !important;
  }
}


.answerContainer .name {
  width: 80px;
  text-align: center;
  padding-top: 0.4rem;
  font-weight: 600;
  color: var(--ifm-color-primary-lightest);
  @media (max-width: 768px) {
    margin: 0 auto !important;
  }
}

.answerContainer {
  @media (max-width: 768px) {
    order: 0;
  }
}
  

.answerContainer .content {
  word-break: auto-phrase;
  @media (max-width: 768px) {
    order: 1;
  }
}