.container {
  display: grid;
  grid-template-columns: 1fr 100px;

  &.right {
    grid-template-columns: 100px 1fr;
  }
  &.center {
    grid-template-columns: auto;
    justify-items: center;
    text-align: center;
  }
  @media (max-width: 768px) {
    grid-template-columns: auto !important;
  }
  p {
    line-height: 1.8;
  }
}

.container .profile {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--ifm-color-secondary-dark);
  &.left {
    margin-right: 1rem;
  }
  &.right {
    margin-left: 1rem;
  }
  @media (max-width: 768px) {
    margin: 0 auto !important;
  }
}

.container {
  .name {
    width: 80px;
    text-align: center;
    padding-top: 0.4rem;
    font-weight: 600;
    color: var(--ifm-color-primary-lightest);
    @media (max-width: 768px) {
      margin: 0 auto !important;
    }
  }

  .profileContainer {
    @media (max-width: 768px) {
      order: 0;
    }
  }

  .content {
    word-break: auto-phrase;
    @media (max-width: 768px) {
      order: 1;
    }
  }
}