.container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.title {
  color: var(--ifm-color-primary-dark);
  text-decoration: underline;
}

.tooltip {
  position: absolute;
  width: 500px;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--ifm-color-primary-contrast-foreground);
  color: var(--ifm-color-emphasis-100);
  padding: 8px 12px;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0.9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .tooltip {
    bottom: 130%;
    width: 300px;
    left: 100%;
    transform: translateX(-50%);
  }
}
