.container {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--ifm-color-secondary-dark);
  padding: 1.3rem;
  margin-bottom: 1rem;
  align-items: center;
  p {
    margin: 0;
  }
}

.container {
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    padding-right: 0.5rem;
  }


  .content.center {
    text-align: center;
  }
}